<table>
	<tbody>
		<tr>
			<th>Téma</th>
			<th>Primární inspirace</th>
		</tr>
		<tr>
			<th>Svět technologických inovací jako náhrada prožívání vlastního života</th>
			<td>Adornovo pojetí sportu jako simulace nahrazující život v textu Schéma masové kultury</td>
		</tr>
		<tr>
			<th>Technologie jako prostředek vzpoury proti konformitě</th>
			<td>Vzpoura přichází, texty dotýkající se Wikipedie</td>
		</tr>
		<tr>
			<th>Interperspektivální pohled na konkrétní inovaci — vlastní zkušenost, pozorování ostatních a porozumění druhému</th>
			<td>Tři perspektivy kritické teorie v Bohman, James. Critical Theory. 16–18</td>
		</tr>
		<tr>
			<th>Aura předmětů dostupných pouze on-line v mém prožívání</th>
			<td>Umělecké dílo ve věku své technické reprodukovatelnosti)</td>
		</tr>
		<tr>
			<th>Vztah mezi šířením vědecké, technologické nebo sociální inovace a midcult/&shy;masscult/&shy;middlebrow (zde spíše synonyma, ale je dobré vyjít z konkrétního pojmu a odkazovat na autora)</th>
			<td>Role middlebrow v textech všech autorů ze semináře o masové kultuře, problematizace textu On „Middlebrow“</td>
		</tr>
		<tr>
			<th>Konstrukce pojmů v diskursu a inovace jako nevyhnutelnost a „motor lidského pokroku“</th>
			<td>Žádný význam se nemůže oprostit od vnějškovosti znaku, která je nepostradatelnou podmínkou jeho srozumitelnosti jako jedné z pozic ve vnějším prostoru diferenciace. (Levice v postrevoluční době.)</td>
		</tr>
		</tr>
		<tr>
			<th>Věda jako prostředek zefektivnění známého a věda jako prostředek interpretace nového</th>
			<td>Nietzsche, Friedrich: Radostná věda; Stöckelová, Tereza – Ghos, Yasar Abu. Úvahy o etnografii: od dogmatu k heterodoxii.</td>
		</tr>
		<tr>
			<th>Tržní význam inovace (ve službách i v průmyslu) a lidskost</th>
			<td>Nietzsche, Friedrich: Radostná věda; Erich Fromm: Umění milovat</td>
		</tr>
		</tr>
	</tbody>
</table>
